body {
  font: normal 12pt sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

#realtimeNoticeP {
  display: none;
}

#realtimeNoticeP.on {
  display: initial;
}

#positionSpan {
  font-size: 300px;
}

#gapSpan {
  font-size: 100px;
}

#milestonesDiv {
  display: flex;
  margin: auto;
  width: 500px;
}

#milestonesDiv div {
  flex: 1;
}

#positionMilestonesDiv p:first-of-type {
  color: gray;
}

#positionMilestonesDiv p:first-of-type a {
  text-decoration: underline;
  text-decoration-style: dashed;
}

#starsMilestonesDiv p:first-of-type {
  color: gray;
}

#copyrightP {
  border-top: 1px solid silver;
  margin: 10ex auto auto;
  min-width: 500px;
  padding-top: 1em;
  width: 50%;
}
